# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# Testing and Linters
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Project Specific - Data
*.db
*.sqlite
databases/

# Project Specific - Exports
*.csv
csv_exports/

# Project Specific - Logs & Backups
*.log
old/