streamlit>=1.48.0
pandas>=2.3.1
openpyxl>=3.1.5
plotly>=6.2.0
numpy>=2.3.2
matplotlib>=3.10.5
scikit-learn
fastapi
uvicorn
# Tkinter is part of the standard library, but may require 'python3-tk' on some systems
# sqlite3 is part of the Python standard library
